/* Estilos gerais para o site */

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#gameCanvas {

    border: 1px solid #000;
    margin-bottom: 20px;

}

/* Painel de Pontuação */
#scorePanel {

    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}

#scoreboard {

    margin-top: 20px;
    text-align: center;

}

#scoreTable {

    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#scoreTable th, #scoreTable td {

    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#initialsModal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#initialsModal h2 {

    margin-top: 0;

}

#initialsModal form {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#initialsModal input {

    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
}

/* Estilos de botão */
button {

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

}

button:hover {

    background-color: #ddd;
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;

}